@mixin editor-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: rgba(white, 0.04);
  padding-right: 0;

  &:hover {
    background-color: rgba(white, 0.08);
  }

  &:active {
    background-color: rgba(white, 0.12);
  }
}

@mixin editor-button {
  @include editor-input;

  background-color: rgba(white, 0.06);
  justify-content: center;
  padding-right: 0.75rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(white, 0.1);
  }

  &:active {
    background-color: rgba(white, 0.14);
  }
}

@mixin editor-select {
  @include editor-input;

  option {
    background-color: black;
  }
}

@mixin editor-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(#0a0a0a, 0.8);
  color: white;
  border: 2px solid rgba(white, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: blur(0.5rem);
}

@mixin editor-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:not(&:last-of-type) {
    border-bottom: inherit;
  }
}

@mixin editor-title {
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 0.5;
  text-transform: uppercase;
}
