@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Jost;
  src: url('/fonts/Jost-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Jost;
  src: url('/fonts/Jost-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Jost;
  src: url('/fonts/Jost-Bold.ttf');
  font-weight: 700;
}
